.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 80%;
  margin: 25px auto;
}

.account-list .card:hover {
  cursor: pointer;
}

.back-btn {
  margin-top: 25px;
  text-align: center;
}

.balance {
  text-align: center;
  margin: 10px auto;
}

.balance .text-info {
  font-size: 2em;
}

.title {
  margin-top: 10px;
  text-align: center;
}

#nightmode {
  width: 80%;
  margin: 0 auto;
}
